{% extends 'admin/base.html.twig' %}

{% block metatitle %} {{ product.title }} {% endblock %}

{% block main %}
    <main class="main-content">
        <section class="article-detail">
            <article class="article-container">
                <h1 class="article-title">{{ product.title }}</h1>
                
                <h3 class="article-subtitle">Numéro d'identification BDD :</h3>
                <p class="article-description">{{ product.id }}</p>
                
                <h3 class="article-subtitle">Description :</h3>
                <p class="article-description">{{ product.description }}</p>
                
                <h3 class="article-subtitle">Catégorie :</h3>
                <p class="article-description">{{ product.category.title }}</p>
                
                <h3 class="article-subtitle">Date de création :</h3>
                <p class="article-description">{{ product.createdAt|date('d/m/Y H:i:s') }}</p>
            </article>
        </section>
    </main>
{% endblock %}