{% extends 'admin/base.html.twig' %}

{% block metatitle %}
	Admin | Liste des produits
{% endblock metatitle %}

{% block main %}
	<main class="main-content">
		<h2 class="main-title">Liste des produits</h2>

		<table class="product-table">
			<thead>
				<tr class="table-header">
					<th class="table-heading">Id</th>
					<th class="table-heading">Titre</th>
					<th class="table-heading">Prix</th>
					<th class="table-heading">Catégorie</th>
					<th class="table-heading">Date de création</th>
					<th class="table-heading">Date de modification</th>
                    <th class="table-heading">Action</th>
				</tr>
			</thead>

			<tbody>
				{% for product in products %}
					<tr class="table-row">
						<td class="table-data">{{ product.id }}</td>
						<td class="table-data">{{ product.title }}</td>
						<td class="table-data">{{ product.price }}</td>
						<td class="table-data">{{ product.category.title }}</td>
						<td class="table-data">{{ product.createdAt | date('d-m-Y H:i:s') }}</td>
						<td class="table-data">{{ product.updatedAt | date('d-m-Y H:i:s') }}</td>
                        <td><a href="{{path('admin-delete-product', {'id' : product.id})}}">Supprimer</a></td>
                        <td><a href="{{path('admin-update-product', {'id' : product.id})}}">Modifier</a></td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</main>
{% endblock main %}