<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% block metatitle %}{% endblock %}</title>
	<link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
</head>
<body>

<header class="header">
	<div class="logo-container">
		<img src="https://concours-armee.fr/wp-content/uploads/2024/03/Commando-marine-4.jpg" alt="ecommerce piscine" class="logo">
	</div>
	<nav class="nav">
		<ul class="nav-list">
			<li class="nav-item"><a href="{{ path('home') }}" class="nav-link">Accueil</a></li>
			<li class="nav-item"><a href="{{ path('categories') }}" class="nav-link">Catégories</a></li>
			<li class="nav-item"><a href="{{ path('products') }}" class="nav-link">Produits</a></li>
		</ul>
	<p>Connecté en tant que {{app.user.email}}</p>
		<a href="{{ path('logout') }}">Se deconnecter<a>
	</nav>
</header>




{% for message in app.flashes('error') %}

	<div style="background-color: red;">
		<p>{{ message }} </p>
	</div>

{% endfor %}

{% for message in app.flashes('success')%}

	<div style="background-color:green;">
		<p>{{ message }} </p>
	</div>
{% endfor %}

<main class="main-content">
	{% block main %}
	{% endblock main %}
</main>

</body>
</html>